#outerBox {
  display: flex;
  flex-direction: row;
}

input {
  width: 100px;
}

button {
  width: 30px;
}

/* .count {
  width: 70px;
  border: 2px solid red;
  margin: 0;
  text-align: center;
} */
